<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar
      src="https://img.freepik.com/free-photo/
        tasty-burger-isolated-white-background-fresh-hamburger-fastfood-with-beef-cheese_90220-1063.jpg?size=626&ext=jpg&uid=R145745410&ga=GA1.2.253241795.1713505300&semt=sph"
      alt="">
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Food Menu</mat-card-title>
    <mat-card-subtitle>Burger</mat-card-subtitle>
  </mat-card-header>
  <img class="msx-h-[400px] object-cover " mat-card-image
    src="https://img.freepik.com/premium-photo/
    juicy-american-burger-hamburger-cheeseburger-with-two-beef-patties-with-sauce-basked-black-space_124865-5964.jpg?size=626&ext=jpg&uid=R145745410&ga=GA1.2.253241795.1713505300&semt=sph"
    alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions class="flex justify-between">
    <div class="flex">
      <button mat-icon-button aria-label="Favorite icon button">
        <mat-icon>favorite</mat-icon>
      </button>
      <button (click)="handleOpenEditRecipeForm()" mat-icon-button aria-label="Edit icon button">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="Share icon button">
        <mat-icon>share</mat-icon>
      </button>
    </div>
    <button mat-icon-button aria-label="Delete icon button">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>